.card-wrapper {
    height: 15vh;
    width: 100%;
    margin: 20px 0;
    background-color: var(--blog-bc);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}