.card-wrapper {
    height: 15vh;
    width: 100%;
    margin-bottom: .8em;
    background-color: var(--blog-bc);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    &:hover {
        background-color: rgb(24, 24, 26);

        .tag-wrapper {
            color: #86cefd;
            border: 1px solid #86cefd;
        }

        .boom {
            animation: shake 2.5s linear forwards;

            & span {
                clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            }

            &::after {
                content: attr(data-text);
                position: absolute;
                transform: translateY(-50%);
                top: 0;
                animation: crack1 2.5s linear forwards;
                clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            }

            &::before {
                content: attr(data-text);
                position: absolute;
                transform: translateY(-50%);
                top: 0;
                animation: crack2 2.5s linear forwards;
                clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            }

        }

    }
}

@keyframes shake {

    5%,
    15%,
    25%,
    35%,
    55%,
    65%,
    75%,
    95% {
        filter: blur(0.02em);
        transform: translateY(0.023em) rotate(0deg);
    }

    10%,
    30%,
    40%,
    50%,
    70%,
    80%,
    90% {
        filter: blur(0.01em);
        transform: translateY(-0.023em) rotate(0deg);
    }

    20%,
    60% {
        filter: blur(0.03em);
        transform: translate(-0.023em, 0.023em) rotate(0deg);
    }

    45%,
    85% {
        filter: blur(0.03em);
        transform: translate(0.023em, -0.023em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {

    0%,
    95% {
        transform: translateY(-50%);
        top: 50%;
    }

    100% {
        transform: translate(-3%, -47%);
        top: 50%;
    }
}

@keyframes crack2 {

    0%,
    95% {
        transform: translateY(-50%);
        top: 50%;
    }

    100% {
        transform: translate(3%, -53%);
        top: 50%;
    }
}