.blog-item {

    list-style: none;
    width: 90%;

    &-title {
        font-size: 1.5rem;
        font-weight: bold;
        display: flex;
        align-items: center;

        &::before {
            content: "";
            display: inline-block;;
            width: .2em;
            height: 1em;
            border-radius: 999px;
            margin-right: .5em;
            background-color: rgb(5, 156, 243);
        }
    }

    &-content {
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        max-height: 2.8em;
        min-height: 2em;
        line-height: 1.4em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        color: rgb(175, 175, 175);
    }
}