.red {
    height: 100vh;
    width: 100vw;
    background-color: red;
}

.yellow {
    height: 100vh;
    width: 100vw;
    background-color: yellow;
}

.blue {
    height: 100vh;
    width: 100vw;
    background-color: blue;
}