@prefix: blog;

@font-face {
    font-family: "DarkFalconDemoRegular-2";
    src: url("../../../assets/font/DarkFalconDemoRegular-2.ttf") format("truetype");
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    font-style: normal;
    font-weight: normal;
}

.@{prefix} {

    &-layout {
        display: flex;
        justify-content: space-between;
        height: 90vh;
        width: 100vw;
    }

    &-header {
        height: 10vh;
        width: 100vw;
        background-color: wheat;
        font-family: "DarkFalconDemoRegular-2";
    }

    &-sidebar {
        background-color: wheat;
    }
    
}