.resume-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(182, 182, 182);
}

.resume-logo {
    height: 500px;
    width: 500px;
    background: url(../../assets/images/resume.png) no-repeat;
    background-size: cover;
    animation: rotate 30s linear infinite;
}

@keyframes rotate{
    from{transform: rotate(0deg)}
    to{transform: rotate(359deg)}
}