:root {
    --normal-button: rgb(0, 153, 255);
    --disabled-button: gray;
}


.lruler-button {
    position: relative;
    height: 60px;
    width: 140px;
    line-height: 60px;
    text-align: center;
    // color: calc(var(--i)*60deg);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    // filter: hue-rotate(calc(10*60deg));
    color: var(--normal-button);
    outline: none;
    border: 0;
    background-color: transparent;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border: 2px solid var(--normal-button);
        transition: all .3s ease-in-out .3s;
    }

    &::before {
        top: 0;
        left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    &::after {
        right: 0;
        bottom: 0;
        border-top: 0;
        border-left: 0;
    }

    &:hover {
        background-color: var(--normal-button);
        box-shadow: 0 0 50px var(--normal-button);
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
        transition-delay: .4s;
        color: white;
    }

    &:hover::after,
    &:hover::before {
        width: 138px;
        height: 58px;
        transition-delay: 0s;
    }
}


.lruler-button-disabled {
    position: relative;
    height: 60px;
    width: 140px;
    line-height: 60px;
    text-align: center;
    // color: calc(var(--i)*60deg);
    text-decoration: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    // filter: hue-rotate(calc(10*60deg));
    color: var(--disabled-button);
    outline: none;
    border: 0;
    background-color: transparent;
    cursor: not-allowed;

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border: 2px solid var(--disabled-button);
        transition: all .3s ease-in-out .3s;
    }

    &::before {
        top: 0;
        left: 0;
        border-right: 0;
        border-bottom: 0;
    }

    &::after {
        right: 0;
        bottom: 0;
        border-top: 0;
        border-left: 0;
    }

    &:hover {
        background-color: var(--disabled-button);
        box-shadow: 0 0 50px var(--disabled-button);
        -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.3));
        transition-delay: .4s;
        color: white;
    }

    &:hover::after,
    &:hover::before {
        width: 138px;
        height: 58px;
        transition-delay: 0s;
    }
}